.menu {
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  background-color: rgb(177, 168, 168);
  border-radius: 1rem;
  padding: 0.1rem;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.menu li {
  list-style-type: none;
}

body {
  background-color: snow;
}

h1 {
  text-align: center;
}

/* Design the subtitle at the top of the page*/
.subtitle {
  text-align: center;
}

/*Stylise the paragraph introducing yourself*/
#introduction {

}

.content-container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding: 1rem;
}